---
import Bell from "../icons/bell.astro";
import Grid from "../icons/grid.astro";

const colorDark = "rgba(54, 54, 54, 0.56)";
const colorDarkHover = "rgba(54, 54, 54, 0.20)";
---

<header class="mt-8">
  <nav class="flex justify-between">
    <div class="button_nav" id="bell">
      <Bell class:list={["text-white", "w-4"]}/>
    </div>
    <div class="button_nav" id="share">
      <Grid class:list={["text-white", "w-4"]}/>
    </div>
  </nav>
</header>

<style define:vars={{ colorDark, colorDarkHover }} lang="scss">
  .button_nav {
    cursor: pointer;
    background-color: var(--colorDark);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition-duration: .5s;
    &:hover {
        background-color: var(--colorDarkHover);
    }
    &:active {
        border: solid 1px var(--colorDark);
    }
  }
</style>
