---
import Header from "../components/Header.astro";
import "../styles/global.css";

import raw_wallpaper from '../assets/wp/wallpaper.jpeg'

const wallpaper = `url(${raw_wallpaper.src})`
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Linktree Clone</title>
  </head>
  <body class="w-screen min-h-screen flex justify-center backdrop-blur-3xl overflow-hidden">
    <main class="w-[80%] md:w-[40%]">
      <Header />
      <slot />
    </main>
  </body>
</html>

<style define:vars={{ wallpaper }}>
    body {
        background-image: var(--wallpaper);
    }
</style>
